env/
examples/env/
venv/
*.pyc
.DS_Store
dist/
bcdmanapiclient.egg-info/
build/
.idea/
.vscode/
bcdmanapiclient/beacon.json
bcdmanapiclient/conftest.py
bcdmanapiclient/edge.json
bcdmanapiclient/reformatTest.py
tests/
